<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p][%d{yyyy-MM-dd HH:mm:ss.SSS}] [%c %L] %m%n"/>
        </Console>

        <File name="LogFile" fileName="Log/test.log" append="true">
            <PatternLayout pattern="[%-5p][%d{yyyy-MM-dd HH:mm:ss}] [%c %L] %m%n"/>
        </File>
        <RollingFile name="RollingFile" fileName="Logs/Log4j2.Log" filePattern="Logs/$${date:yyyy-MM}/Log4j2Test-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout charset="UTF-8" pattern="[%-5p][%d{yyyy-MM-dd HH:mm:ss}] [%c %L] %m%n"/>
            <SizeBasedTriggeringPolicy size="1KB"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.foo.Bar" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
